doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')

body
  div.header
      table.full
        td
            a(href='/')
                p.logo giwwer
        td.center
            div.search
                form(action='/search', method='get', enctype='application/x-www-form-urlencoded')
                    input.search(type='text', placeholder='#{i18n("findad")}', name='search', value=(word ? '#{word}' : ''))
                    button.search(type='submit') #{i18n('search')}
        td.center
            a.one(href='/admin')
                div.categ.divHover2
                    p #{session.email}
        td.center
            a.one(href='/users/logout')
                div.categ.divHover2
                    p.fa.fa-sign-out.link &nbsp #{i18n('logout')}
  br

table(align='center')
      tr
        td.t
            div.left
                a(href='/admin/ads?db=')
                    div.categ.divHover
                        p All ads &nbsp&nbsp #{session.allCount}
                a(href='/admin/ads?db=status%3A%27inactive%27')
                    div.categ.divHover
                        p Inactive &nbsp&nbsp #{session.inactiveCount}
                a(href='/admin/ads?db=status%3A%27rejected%27')
                    div.categ.divHover
                        p Rejected &nbsp&nbsp #{session.rejectedCount}
                a(href='/admin/ads?db=improvement%3A%27main%27')
                    div.categ.divHover
                        p Improved &nbsp&nbsp #{session.improvedCount}



        td.t
            block content



