doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')

body
  div.block

    a.five(href='/') home

    each ad, i in ads
        div.ads
            a(href='/ads/#{ad._id}')
              div.delete
                p #{ad.title}
                hr
            a.greenButton.fr(href='/admin/activate?id=#{ad._id}') activate
            a.greenButton.fr(href='/admin/main?id=#{ad._id}') make main


    if pages && pages.length > 1 && pages.length < 7
        div.delete
            ul
                each page, i in pages
                    li.a
                        a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}
    if pages && pages.length >= 7
        div.delete
            ul
                if pageIndex < 4
                    each page, i in firstPart
                        li
                            a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}
                    li
                        h2 ...
                    li
                        a.four(href='#{last[0].link}', id='#{last[0].pg}') #{last[0].pg}
                if pageIndex >= 4 && pageIndex <= last[0].pg - 4
                    li
                        a.four(href='#{first[0].link}', id='#{first[0].pg}') #{first[0].pg}
                    li
                        h2 ...
                    each page, i in middle
                        li
                            a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}
                    li
                        h2 ...
                    li
                        a.four(href='#{last[0].link}', id='#{last[0].pg}') #{last[0].pg}
                if pageIndex > last[0].pg - 4
                    li
                        a.four(href='#{first[0].link}', id='#{first[0].pg}') #{first[0].pg}
                    li
                        h2 ...
                    each page, i in lastPart
                        li
                            a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}
    script.
        document.getElementById(#{pageIndex}+1).setAttribute('class', 'five');
        document.getElementsByClassName('four')[0].setAttribute('class', 'six');