extends layout

block content



  h1.
        Ad List
  ul.a
       each user, i in ads
           li
               a(href="mailto:#{user.email}" style="text-decoration: none")= user.title
               h5 #{user.price}
               form(action='/ads/#{user._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                   input(type='hidden',value='DELETE',name='_method')
                   button(type='submit').
                       Delete
               p
                   a(href='/ads/#{user._id}/edit') Edit
               p
                   a(href='/ads/#{user._id}') Show

