body
  div.wrapper
    include header
    div.contents
        table(align='center')
            tr
                td.t
                    div.index
                        div.bravito
                            h1.center #{i18n('boolbi')}
                            table
                                td
                                    img(src='/images/logo/items.png')
                                td
                                    div.width
                                        div.button
                                            form(action='/ads/newad')
                                                button.index(type='submit') #{i18n('newad')}
                            br
                            br
                            div.column
                                each category, i in categories
                                    a(href='/category/#{category._id}')
                                        div.indexCategory
                                            p.index #{category.name[session.locale]}
                            br
                            p.small #{i18n('text1')}
                td.t
                    if mainAds
                        each ad, i in mainAds
                            a(href='/ads/#{ad._id}')
                                div.advertisement
                                    table.center
                                        tr
                                            td
                                                if ad.image1
                                                    img.main(src='/images/small/#{ad.image1}')
                                                else if ad.image2
                                                    img.main(src='/images/small/#{ad.image2}')
                                        tr
                                            td
                                                p.small #{ad.title}
                                        tr
                                            td
                                                p #{ad.price}
    include footer

script.
    function openMenu() {
        document.getElementById('menu').style.display = "block";
    }
    function closeMenu() {
        document.getElementById('menu').style.display = "none";
    }