doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')

  extends header

  block layout

      body
          table(align='center')
              tr
                td.t
                  div.left
                      each category, i in categories
                          a(href='/category/#{category._id}')
                              div.categ.divHover
                                  p #{category.name[session.locale]}  &nbsp
                                       span(id='#{category._id}', align='right')
                td.t
                  div.block
                    block content
                td.t
                    each ad, i in mainAds
                        a(href='/ads/#{ad._id}')
                            div.advertisement
                                table.center
                                    tr
                                      td
                                        if ad.image1
                                            img.main(src='/images/small/#{ad.image1}')
                                        else if ad.image2
                                            img.main(src='/images/small/#{ad.image2}')
                                    tr
                                      td
                                        p.small #{ad.title}
                                    tr
                                      td
                                        p #{ad.price}
      br
      br

      footer
          div.footer
            p E-mail: info@bravito.ru


  script.
      document.getElementById('#{category}').setAttribute('class', 'fa fa-circle r');
