body
  div.wrapper
    include header
    div.contents
      table(align='center')
          td.t
            div.left
                each category, i in categories
                    a(href='/category/#{category._id}')
                        div.categ.divHover
                            p #{category.name[session.locale]} &nbsp
                                 span(id='#{category._id}')
          td.t
            div.block
              block content
          td.t
              if mainAds
                  each ad, i in mainAds
                      a(href='/ads/#{ad._id}')
                          div.advertisement
                              table.center
                                  tr
                                    td
                                      if ad.images.image1
                                          img.main(src='/images/small/#{ad.images.image1}')
                                      else if ad.images.image2
                                          img.main(src='/images/small/#{ad.images.image2}')
                                  tr
                                    td
                                      p.small #{ad.title}
                                  tr
                                    td
                                      p #{ad.price}
                  brbr

    include footer


script.
      document.getElementById('#{category}').setAttribute('class', 'fa fa-circle r');
