doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')

  body
      div.header
        table.full
              td
                  a(href='/')
                      p.logo giwwer
              td.center
                div.scope
                     form(action='/search', method='get', enctype='application/x-www-form-urlencoded')
                       i.fa.fa-search &nbsp
                          input.search(type='text', placeholder='#{i18n("findad")}', name='search', , value=(word ? '#{word}' : ''))
                          button.search(type='submit') #{i18n('search')}
              td.center
                 a.one(href='/ads/newad') #{i18n('newad')}
              td.center
                 if session.user_id
                    a.one.fa.fa-user(href='/users/profile') &nbsp #{session.email}
                 else
                    a.one(href='/users/login') #{i18n('login')}
              td.gold.center
                a.seven(href='/locale?locale=ru&current=#{curPage}')
                    div.lang
                        p.small rus
                a.seven(href='/locale?locale=en&current=#{curPage}')
                    div.lang
                        p.small eng
      hr

  table
      tr
        td.t
          div.left
              each category, i in categories
                  div.category
                      a.category(href='/category/#{category._id}')
                          div.categ.divHover
                            p #{i18n(category.name)}  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                 span(id='#{category._id}', align='right')


        td.t
          div.block
            block content
        td.t
                div.advertisement
                    p.center #{i18n('advert')}
                div.advertisement
                    p.center #{i18n('advert')}
                div.advertisement
                    p.center #{i18n('advert')}
  hr
  div.header
      p E-mail: info@bravito.ru



  script.
          document.getElementById('#{category}').setAttribute('class', 'fa fa-circle r');


