extends layout

block content

    h1.
         Infophoto #{user.id}
    p Name: #{user.name}
    p E-mail: #{user.email}
    p Telephone: #{user.telephone}
    p Title: #{user.title}
    p Description: #{user.description}
    p Price: #{user.price}

