extends layout

block content

    div

        h1 Ad Info
        p Name: #{user.name}
        p E-mail: #{user.email}
        p Telephone: #{user.telephone}
        p Title: #{user.title}
        p Description: #{user.description}
        p Price: #{user.price}
        p Photo:
         div.img
             img(src='/images/#{user.photo}' alt='#{user.photo}' width=150)

    form(action='/ads/#{user._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
        input(type='hidden',value='DELETE',name='_method')
        button(type='submit') Delete
    p
    a.two(href='/ads/#{user._id}/edit' style='text-decoration: none') Edit

