extends layout

block content

    h1 Ad Info

    div
        p Name: #{user.name}
        p E-mail: #{user.email}
        p Telephone: #{user.telephone}
        p Title: #{user.title}
        p Description: #{user.description}
        p Price: #{user.price}
        p Photos:
         div.img
             img(src='/images/#{user.mainphoto}' width=150)
         div.img
             img(src='/images/#{user.photo1}' width=150)

    form(action='/ads/#{user._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
        input(type='hidden',value='DELETE',name='_method')
        button(type='submit') Delete
    p
    a.two(href='/ads/#{user._id}/edit' style='text-decoration: none') Edit

