extends ../layout
block content



 div.bravito

    h1 Edit user information
    hr

    form(name='userinfo', action='/users/edit', method='post', onsubmit='return validateForm()', enctype='application/x-www-form-urlencoded')
      table(align='center')
        tr
          td.r
            p.small Email:
          td.info
            p #{user.email}
        tr
          td.r
            p.small #{i18n('name')}:
          td.info
            input.title(type='text', value=(user.name !== undefined ? '#{user.name}' : ''), name='name')
        tr
          td.r
            p.small #{i18n('tel')}:
          td.info
            input.title(type='text', value=(user.telephone !== undefined ? '#{user.telephone}' : ''), name='telephone')
        tr
          td.r(rowspan=2)
            p.small #{i18n('changePass')}:
          br
          if message.length > 0
                div.msg #{message}

          td.info
             input.title(type='password', name='newpass1', placeholder='#{i18n("newPass")}')
        tr
          td.info
             input.title(type='password', name='newpass2', placeholder='#{i18n("againPass")}')
      br
      hr
      button(type='submit') #{i18n('save')}

 script(type='text/javascript').
    function validateForm() {
        var new1 = document.forms['userinfo']['newpass1'].value;
        var new2 = document.forms['userinfo']['newpass2'].value;
        if (new1 !== new2) {
            alert('Incorrect enter of new password');
            return false;
        }

    }
