extends ../layout
block content

 div.bravito

    h1 #{i18n('editUser')}
    hr

    form(name='login', action='/users/edit', method='post', onsubmit='event.preventDefault(); return formSubmit()', enctype='application/x-www-form-urlencoded')
      table(align='center')
        tr
          td.r
            p.small Email:
          td.info
            p #{user.email}
        tr
          td.r
            p.small #{i18n('name')}:
          td.info
            input.title(type='text', value=(user ? '#{user.name}' : ''), name='name', size=22)
        tr
          td.r
            p.small #{i18n('tel')}:
          td.info
            input.title(type='text', value=(user ? '#{user.telephone}' : ''), name='telephone', size=22)
        tr
          td.r(rowspan=4)
            p.small #{i18n('changePass')}:
          br
          if message.length > 0
                div.msg #{message}

        tr
          td.info
             p.validateErr#password #{i18n('passErr')}
        tr
          td.info
             input.title(type='password', name='password', placeholder='#{i18n("newPass")}', size=22)
        tr
          td.info
             input.title(type='password', name='password2', placeholder='#{i18n("againPass")}', size=22)
      br
      hr
      button(type='submit') #{i18n('save')}


 script(type='text/javascript').
     function formSubmit() {
         var form = document.forms['login'];
         var password = form['password'].value;
         if (password.length == 0) {
             return form.submit();
         } else {
             return validateForm('login');
         }
     }
 script(type='text/javascript', src='/javascripts/validator.min.js').
 script(type='text/javascript', src='/javascripts/validateFields.js').