extends ../layout
block content

 h1 Edit user information

 div.bravito

    form(name='userinfo', action='/users/edit', method='post', onsubmit='return validateForm()', enctype='application/x-www-form-urlencoded')
        p.small.inline Email: &nbsp &nbsp
          p.inline #{user.email}
        p.small #{i18n('name')}: &nbsp&nbsp
            input.login(type='text', value=(user.name !== undefined ? '#{user.name}' : ''), name='name')
        p.small #{i18n('tel')}:&nbsp&nbsp
            input.login(type='text', value=(user.telephone !== undefined ? '#{user.telephone}' : ''), name='telephone')
        p.small #{i18n('changePass')}:
        if message.length > 0
            div.msg #{message}
        table
             tr
               td.center
                 h6 #{i18n('newPass')}
                 input.login(type='password', name='newpass1')
             tr
               td.center
                 h6 #{i18n('againPass')}
                 input.login(type='password', name='newpass2')
        button(type='submit') #{i18n('save')}

 script(type='text/javascript').
    function validateForm() {
        var new1 = document.forms['userinfo']['newpass1'].value;
        var new2 = document.forms['userinfo']['newpass2'].value;
        if (new1 !== new2) {
            alert('Incorrect enter of new password');
            return false;
        }

    }
