extends ../layout


block content

 div.signup.center

    form(name='login', action='#{formAction}', onsubmit='event.preventDefault(); return validateForm("login")', method='post', enctype='application/x-www-form-urlencoded')

        if message.length > 0
            div.msg
                p.med #{message}
        table


            tr
              td.b.r(rowspan=2)
                p Email:
              td
                p.validateErr#useremail #{i18n('emailErr')}
            tr
              td.l
                input.login#email(type='email', name='useremail', autofocus)
            tr
                td(colspan=2)
                    p.validateErr#password #{i18n('passErr')}
            tr
              td.r
                p #{i18n('pass')}:
              td.l
                input.login#pass(type='password', name='password')

        button.fa.fa-sign-in(type='submit', class=(btnValue == 'login' ? 'login' : 'signup')) &nbsp #{i18n(btnValue)}

        if btnValue == 'login'
            p.small #{i18n('need')}
               a.three(href='/users/signup/') #{i18n('signup')}
        else
            p.small #{i18n('have')}
               a.two(href='/users/login/') #{i18n('login')}

 script(type='text/javascript', src='/javascripts/validator.min.js').
 script(type='text/javascript', src='/javascripts/validateFields.js').


