extends ../layout


block content

  div.bravito
    table
      tr
        td.center.r
          h5 E-mail: &nbsp &nbsp
        td.center.l
          p #{user.email}

      tr
        td.center.r
          h5 Name: &nbsp &nbsp
        td.center.l
          p #{user.name}

      tr
        td.center.r
          h5 Telephone: &nbsp &nbsp
        td.center.l
          p #{user.telephone}

      tr
        td.center.r
          a.three(href='/users/edit') Edit
        td.center.l
          a.three(href='/users/logout') Log out

  if myAds.length > 0
      h1 My ads:
        each ad, i in myAds
          a(href='/ads/#{ad._id}')
            div.bravito.divHover
              if ad.image1
                 img.showAds(src='/images/#{ad.image1}', width=150)
              else if ad.image2
                 img.showAds(src='/images/#{ad.image2}', width=150)
              else
              h5 #{ad.title}
              p
              h5 #{ad.price}

  if pages.length > 1
    ul.a
      each page, i in pages
        li.a
          a.four(href='#{page}') #{[i] * 1 + 1}

  script.
    document.getElementsByClassName('four')[#{currentPage}].setAttribute('class', 'five');
    document.getElementsByClassName('four')[0].setAttribute('class', 'six');
