extends ../layout


block content

  div.bravito
     table
        tr
          td.r
            p.small Email: &nbsp &nbsp
          td.l
            p #{user.email}

        tr
          td.r
            p.small #{i18n('name')}: &nbsp &nbsp
          td.l
            p #{user.name}

        tr
          td.r
            p.small #{i18n('tel')}: &nbsp &nbsp
          td.l
            p #{user.telephone}


       a.three.fa.fa-edit(href='/users/edit')  #{i18n('edit')}
       a.three.fa.fa-sign-out(href='/users/logout')  #{i18n('logout')}

  if myAds.length > 0
      h1 My ads:
        each ad, i in myAds
          a(href='/ads/#{ad._id}')
            div.bravito.divHover
              if ad.image1
                 img.showAds(src='/images/#{ad.image1}', width=150)
              else if ad.image2
                 img.showAds(src='/images/#{ad.image2}', width=150)
              else
              h5 #{ad.title}
              p
              h5 #{ad.price}

  if pages.length > 1
    ul.a
      each page, i in pages
        li.a
          a.four(href='#{page}') #{[i] * 1 + 1}

  script.
    document.getElementsByClassName('four')[#{pageIndex}].setAttribute('class', 'five');
    document.getElementsByClassName('four')[0].setAttribute('class', 'six');
