extends ../layout


block content

  h1 Hello

  div
    table
      tr
        td
          h5 E-mail:
        td
          p #{user.email}
      tr
        td
          h5 Name:
        td
          p #{user.name}
      tr
        td
          h5 Telephone:
        td
          p #{user.telephone}
      tr
        td
          h5
      tr
        td
          a.one(href='/users/edit', style='text-decoration: none') Edit
        td
          a.one(href='/users/logout', style='text-decoration: none') Log out

  if myAds.length > 0
      h1 My ads:
        each ad, i in myAds
          div
            a(href='/ads/#{ad._id}', style='text-decoration: none')
              if ad.mainphoto
                 img.showAds(src='/images/#{ad.mainphoto}', width=150)
              else if ad.photo1
                 img.showAds(src='/images/#{ad.photo1}', width=150)
              else
              h5 #{ad.title}
              p
              h5 #{ad.price}
