extends ../layout

block content

    form(action='/ads/search', method='post', align='left', enctype='application/x-www-form-urlencoded')
        input.search(type='text', name='search')
        button(type='submit') search




    h1 Ad List:

    each ad, i in ads

        div
              a(href='/ads/#{ad._id}', style='text-decoration: none')
                 if ad.image1
                      img.showAds(src='/images/#{ad.image1}', width=150)
                 else if ad.image2
                      img.showAds(src='/images/#{ad.image2}', width=150)
                 else


                 h5 #{ad.title}
                 p
                 h5 #{ad.price}




    ul
        li
           #{str}
