extends ../layout

block content

    if message.length > 0
        div.msg #{message}

    if counts
        div.delete
            ul
              each count in counts
                li.a
                    a.four(href='/users/profile?status=#{count._id}') #{i18n(count._id)} ( #{count.count} )

    each ad, i in ads
        div.ads
          a(href='/ads/#{ad._id}')
             if ad.image1
                  img.showAds(src='/images/small/#{ad.image1}')
             else if ad.image2
                  img.showAds(src='/images/small/#{ad.image2}')
          div.delete
             a(href='/ads/#{ad._id}')
               p #{ad.title}
             hr
             p.med #{ad.price}
          if ad.reason
              div.status
                  table
                      td
                        p.status.fa.fa-ban
                      td
                        p.status #{i18n('rejected')}
        p


    if pageParts.total > 1 && pageParts.total < 7
        div.delete
            ul
                each page, i in pageParts.firstPart
                    li.a
                        a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}

    if pageParts.total >= 7
        div.delete
            ul
                if pageNumber < 4
                    each page in pageParts.firstPart
                        li
                            a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}
                    li
                        h2 ...
                    li
                        a.four(href='#{pageParts.last.link}', id='#{pageParts.last.pg}') #{pageParts.last.pg}
                if pageNumber >= 4 && pageNumber <= pageParts.last.pg -4
                    li
                        a.four(href='#{pageParts.first.link}', id='#{pageParts.first.pg}') #{pageParts.first.pg}
                    li
                        h2 ...
                    each page in pageParts.middle
                        li
                            a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}
                    li
                        h2 ...
                    li
                        a.four(href='#{pageParts.last.link}', id='#{pageParts.last.pg}') #{pageParts.last.pg}
                if pageNumber > pageParts.last.pg -4
                    li
                        a.four(href='#{pageParts.first.link}', id='#{pageParts.first.pg}') #{pageParts.first.pg}
                    li
                        h2 ...
                    each page in pageParts.lastPart
                        li
                            a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}


    script.
        document.getElementById(#{pageNumber}+1).setAttribute('class', 'five');
        document.getElementsByClassName('four')[0].setAttribute('class', 'six');





