extends ../layout

block content

    if message.length > 0
        div.msg
            p #{message}

    each ad, i in ads
          a(href='/ads/#{ad._id}')
              div.bravito.divHover
                 if ad.image1
                      img.showAds(src='/images/#{ad.image1}', width=150)
                 else if ad.image2
                      img.showAds(src='/images/#{ad.image2}', width=150)


                 h5 #{ad.title}
                 p
                 h5 #{ad.price}


    if pages && pages.length > 1
        ul.a
            each page, i in pages
                li.a
                    a.four(href='#{page}') #{[i] * 1 + 1}



    script.
        document.getElementsByClassName('four')[#{pageIndex}].setAttribute('class', 'five');
        document.getElementsByClassName('four')[0].setAttribute('class', 'six');





