extends ../layout

block content

    if message.length > 0
        div.msg #{message}

    each ad, i in ads
        div.bravito
          a(href='/ads/#{ad._id}')
             if ad.image1
                  img.showAds(src='/images/#{ad.image1}', width=150)
             else if ad.image2
                  img.showAds(src='/images/#{ad.image2}', width=150)
          div.categ
             a(href='/ads/#{ad._id}')
               p #{ad.title}
             br
             p #{ad.price}
        br

    if pages && pages.length > 1 && pages.length < 7
        ul.a
            each page, i in pages
                li.a
                    a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}


    if pages && pages.length >= 7
        ul.a
           if pageIndex < 4
              each page, i in firstPart
                 li
                    a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}
              li
                 h1 ...
              li
                 a.four(href='#{last[0].link}', id='#{last[0].pg}') #{last[0].pg}
           if pageIndex >= 4 && pageIndex <= last[0].pg -4
              li
                a.four(href='#{first[0].link}', id='#{first[0].pg}') #{first[0].pg}
              li
                 h1 ...
              each page, i in middle
                 li
                    a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}
              li
                  h1 ...
              li
                  a.four(href='#{last[0].link}', id='#{last[0].pg}') #{last[0].pg}
           if pageIndex > last[0].pg -4
              li
                   a.four(href='#{first[0].link}', id='#{first[0].pg}') #{first[0].pg}
              li
                  h1 ...
              each page, i in lastPart
                  li
                      a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}







    script.
        document.getElementById(#{pageIndex}+1).setAttribute('class', 'five');
        document.getElementsByClassName('four')[0].setAttribute('class', 'six');





