extends ../layout

block content


    form(action='/search', method='get', enctype='application/x-www-form-urlencoded')
        input.search(type='text', name='search', value=(word ? '#{word}' : ''))
        button(type='submit') search



    if message.length > 0
        div.msg
            p #{message}


    h1 Ad List:

    each ad, i in ads

        div
              a(href='/ads/#{ad._id}', style='text-decoration: none')
                 if ad.image1
                      img.showAds(src='/images/#{ad.image1}', width=150)
                 else if ad.image2
                      img.showAds(src='/images/#{ad.image2}', width=150)
                 else


                 h5 #{ad.title}
                 p
                 h5 #{ad.price}


    if pages.length > 1
    ul.a
        each page, i in pages
            li.a
                a.four(href='#{page}', style='text-decoration: none') #{[i] * 1 + 1}
