extends ../layout

block content

  h1 Ad List:

      each ad, i in ads

          div
              a(href='/ads/#{ad._id}', style='text-decoration: none')
                 if ad.mainphoto
                      img.showAds(src='/images/#{ad.mainphoto}', width=150)
                 else if ad.photo1
                      img.showAds(src='/images/#{ad.photo1}', width=150)
                 else


                 h5 #{ad.title}
                 p
                 h5 #{ad.price}