extends ../layout

block content

    if message.length > 0
        div.msg #{message}

    if counts
        div.delete
            ul
              each count in counts
                li.a
                    a.four(href='/users/profile?status=#{count._id}') #{i18n(count._id)} ( #{count.count} )

    each ad, i in ads
        div.ads
          a(href='/ads/#{ad._id}')
             if ad.image1
                  img.showAds(src='/images/small/#{ad.image1}')
             else if ad.image2
                  img.showAds(src='/images/small/#{ad.image2}')
          div.delete
             a(href='/ads/#{ad._id}')
               p #{ad.title}
             hr
             p.med #{ad.price}
          if ad.reason
              div.status
                  table
                      td
                        p.status.fa.fa-ban
                      td
                        p.status #{i18n('rejected')}
        p


    if pages && pages.length > 1 && pages.length < 7
        div.delete
            ul
                each page, i in pages
                    li.a
                        a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}

    if pages && pages.length >= 7
        div.delete
            ul
               if pageIndex < 4
                  each page in firstPart
                     li
                        a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}
                  li
                     h2 ...
                  li
                     a.four(href='#{last[0].link}', id='#{last[0].pg}') #{last[0].pg}
               if pageIndex >= 4 && pageIndex <= last[0].pg -4
                  li
                    a.four(href='#{first[0].link}', id='#{first[0].pg}') #{first[0].pg}
                  li
                     h2 ...
                  each page in middle
                     li
                        a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}
                  li
                      h2 ...
                  li
                      a.four(href='#{last[0].link}', id='#{last[0].pg}') #{last[0].pg}
               if pageIndex > last[0].pg -4
                  li
                       a.four(href='#{first[0].link}', id='#{first[0].pg}') #{first[0].pg}
                  li
                      h2 ...
                  each page in lastPart
                      li
                          a.four(href='#{page.link}', id='#{page.pg}') #{page.pg}


    script.
        document.getElementById(#{pageIndex}+1).setAttribute('class', 'five');
        document.getElementsByClassName('four')[0].setAttribute('class', 'six');





