extends ../layout

block content

  div.bravito
      form(name='adForm', action='#{formAction}', method='post', onsubmit='event.preventDefault(); return validateForm("adForm")', enctype='multipart/form-data')

          h1 #{i18n('userInfo')}
          hr

          div.title
              a(href='/users/edit')
                  div.editLink #{i18n('edit')}
                      span.fa.fa-pencil-square-o.fl
              table
                  tr
                      td.r
                          p.small #{i18n('name')}:
                      td.info
                          p #{user.name}
                  tr
                      td.r
                          p.small Email:
                      td.info
                          p #{user.email}
                  tr
                      td.r
                          p.small #{i18n('tel')}:
                      td.info
                          p #{user.telephone}

          h1 #{i18n('itemInfo')}
          hr

          if message.length > 0
              div.msg #{message}

          table
              tr
                td(colspan=2)
                  p.validateErr#category #{i18n('categoryErr')}
              tr
                td
                  p.small #{i18n('category')}: &nbsp
                td.info
                    select#select(name='category', align='right')
                       option(value=(ad ? '#{category._id}' : '')) #{ad ? category.name[session.locale] : i18n('select')}
                       each category, i in categories
                          option(value='#{category._id}') #{category.name[session.locale]}

          table
               tr
                 td(colspan=2)
                   p.validateErr#adtitle #{i18n('titleErr')}
               tr
                 td
                   p.small #{i18n('title')}: &nbsp
                 td
                   input.title(type='text', value=(ad ? ad.title : ''), name='adtitle', maxlength=60, size=37)
          p
          p
          p.small #{i18n('description')}:
          textarea(name='addescription', rows=10, cols=40) #{ad ? ad.description : ''}
          table
              tr
                td(colspan=2)
                  p.validateErr#adprice #{i18n('priceErr')}
              tr
                td
                  p.small #{i18n('price')}:
                td.info
                  input.title(type='text', value=(ad ? ad.price : ''), name='adprice', size=10)
                td
                  p #{i18n('rub')}
          br


          p.small #{i18n('photo')}:
          div
              each image, i in ['image0', 'image1']
                  table.fl.center
                    tr
                      td
                        div.fileUpload
                          input.upload(type='file', name='#{image}', accept='image/*', onchange='openPhoto(event, "#{i}")')
                          input(type='hidden', name='helper' + [i], value=(imageArray && imageArray[i] ? 1 : ''))
                          img(id='#{image}', src=(imageArray && imageArray[i] ? '/images/small/#{imageArray[i].src}' : '/images/logo/camera.png'), width=150)
                    tr
                      td
                          p.img(id='PAR#{image}', onclick='delImage("#{image}", "#{i}")')
                              i.fa.fa-trash &nbsp #{i18n('del')}
                  if imageArray && imageArray[i]
                      script.
                          document.getElementById('PAR#{image}').style.visibility = ' visible';
                          //document.getElementsByName('image1')[0].setAttribute("disabled");

          div.invCaptcha
            p.validateErr#captcha #{i18n('captchaErr')}
            div.captcha
              table
                tr
                  td
                      img(src='data:image/jpeg;base64, #{captcha}')
                  td
                      input.captcha(type='text', name='captcha', maxlength=4)
          br
          hr
          button(type='submit') #{i18n('save')}

  script(type='text/javascript').
      var delImage = function (name, i) {
          document.getElementById(name).getAttributeNode('src').value = '/images/logo/camera.png';
          document.getElementsByName(name)[0].value = '';
          document.getElementById('PAR' + name).style.visibility = 'hidden';
          document.getElementsByName('helper' + i)[0].value = 3;
          /*var image0 = document.getElementsByName('image0');
          var image1 = document.getElementsByName('image1');
          console.log(image0.src);
          if (
                  image0.getAttribute('src') == 'http://boolbi.dev/images/logo/camera.png' &&
                  image1.getAttribute('src') == 'http://boolbi.dev/images/logo/camera.png'
          ) {
              image1.setAttribute('disabled');
          }*/
      };

  script(type='text/javascript').
      var openPhoto = function (event, i) {
          var input = event.target;
          var reader = new FileReader();
          reader.onload = function () {
              var dataURL = reader.result;
              var output = document.getElementById(input.name);
              output.src = dataURL;
          };
          reader.readAsDataURL(input.files[0]);
          document.getElementById('PAR' + input.name).style.visibility =' visible';
          //document.getElementsByName('helper' + i)[0].value = 2;
          //document.getElementsByName('image1')[0].removeAttribute("disabled");
      };

  script(type='text/javascript', src='/javascripts/validator.min.js').
  script(type ='text/javascript', src='/javascripts/validateFields.js').


