extends ../layout

block content

  div.bravito
      h1 User information

      table
          tr
            td.r
              p.small #{i18n('name')}: &nbsp &nbsp
            td.l
              p #{user.name}
          tr
            td.r
              p.small Email: &nbsp &nbsp
            td.l
              p #{user.email}
          tr
            td.r
              p.small #{i18n('tel')}: &nbsp &nbsp
            td.l
              p #{user.telephone}

      form(name='adForm', action='#{formAction}', method='post', onsubmit='event.preventDefault(); return validateForm("adForm")', enctype='multipart/form-data')

         h1 Item information

         if message.length > 0
             div.msg #{message}

         table
              tr
                td(colspan=2)
                  p.validateErr#category #{i18n('categoryErr')}
              tr
                td
                  p.small #{i18n('category')}: &nbsp
                td
                  if category
                    p #{category.name}
                  else
                    select#select(name='category', align='right')
                       option(value='') #{i18n('select')}
                       each category, i in categories
                          option(value='#{category._id}') #{category.name[session.locale]}

         table
              tr
                td(colspan=2)
                  p.validateErr#adtitle #{i18n('titleErr')}
              tr
                td
                  p.small #{i18n('title')}: &nbsp
                td
                  input.title(type='text', value='#{ad.title}', name='adtitle', maxlength=60, size=37)
         p
         p.small #{i18n('description')}:
         textarea(name='addescription', rows=10, cols=40) #{ad.description}
         p.small #{i18n('price')}:
           input(type='text', value='#{ad.price}', name='adprice')


         p.small #{i18n('photo')}:
         table
               tr
                 td
                   div.fileUpload
                     input.upload(type='file', name='photo1', accept='image/*', onchange='openPhoto(event)')
                     img#photo1(src=(ad.image1 !== undefined ? '/images/#{ad.image1}' : '/images/logo/camera.png'), width=150)
                 td
                   div.fileUpload
                     input.upload(type='file', name='photo2', accept='image/*', onchange='openPhoto(event)')
                     img#photo2(src=(ad.image2 !== undefined ? '/images/#{ad.image2}' : '/images/logo/camera.png'), width=150)
               tr
                 td
                   if ad.image1
                     div.delete(align='center')
                        a.img(href='/ads/#{ad._id}/imgdel?img=#{ad.image1}&id=link1')
                            i.fa.fa-trash &nbsp #{i18n('del')}
                   else
                     p.img#PARphoto1(onclick="delImage('photo1')", align='center')
                         i.fa.fa-trash &nbsp #{i18n('del')}
                 td
                   if ad.image2
                     div.delete(align='center')
                        a.img(href='/ads/#{ad._id}/imgdel?img=#{ad.image2}&id=link2', align='center')
                            i.fa.fa-trash &nbsp #{i18n('del')}
                   else
                     p.img#PARphoto2(onclick="delImage('photo2')", align='center')
                         i.fa.fa-trash &nbsp #{i18n('del')}
         div.invCaptcha
           p.validateErr#captcha #{i18n('captchaErr')}
           div.captcha
             table
               tr
                 td
                     img(src='data:image/jpeg;base64, #{captcha}')
                 td
                     input.captcha(type='text', name='captcha', maxlength=4)
         p
         button(type='submit') #{i18n('save')}

  script(type='text/javascript').
      var delImage = function (name) {
          document.getElementById(name).getAttributeNode('src').value='/images/logo/camera.png';
          document.getElementsByName(name)[0].value='';
          document.getElementById('PAR' + name).style.visibility='hidden';
      } ;

  script(type='text/javascript').
      var openPhoto = function (event) {
          var input = event.target;
          var reader = new FileReader();
          reader.onload = function () {
              var dataURL = reader.result;
              var output = document.getElementById(input.name);
              output.src = dataURL;
          };
          reader.readAsDataURL(input.files[0]);
          document.getElementById('PAR' + input.name).style.visibility='visible';
      };

  script(type='text/javascript', src='/javascripts/validator.min.js').
  script(type ='text/javascript', src='/javascripts/validateFields.js').


