extends ../layout

block content
  h1 Ad Edit


  div
      h1 User information
      table
          tr
            td
              p Name:
            td
              h5 #{user.name}
          tr
            td
              p Email:
            td
              h5 #{user.email}
          tr
            td
              p Telephone:
            td
              h5 #{user.telephone}

      form(name='adForm', action='#{formAction}', method='post', onsubmit='return validateForm()', enctype='multipart/form-data')
         h1 Item information
         if message.length > 0
             div.msg
                 p #{message}
         table
              tr
                td
                  p Category:
                td
                   if category
                       h5 #{category.name}
                   else
                       select(name='category')
                           option(value='') select category
                           each category, i in categories
                               option(value='#{category._id}') #{category.name}
         p Title:
           input(type='text', value='#{ad.title}', name='adtitle', maxlength=60, size=37)
         p Description:
         textarea(name='addescription', rows=10, cols=40) #{ad.description}
         p Price:
           input(type='text', value='#{ad.price}', name='adprice')


         p Photos:
           table
               tr
                 td
                   div.fileUpload
                     input.upload(type='file', name='photo1', accept='image/*', onchange='openPhoto(event)')
                     img#photo1(src=(ad.image1 !== undefined ? '/images/#{ad.image1}' : '/images/logo/camera.png'), width=150)
                 td
                   div.fileUpload
                     input.upload(type='file', name='photo2', accept='image/*', onchange='openPhoto(event)')
                     img#photo2(src=(ad.image2 !== undefined ? '/images/#{ad.image2}' : '/images/logo/camera.png'), width=150)
               tr
                 td
                   if ad.image1
                      a.three(href='/ads/#{ad._id}/imgdel?img=#{ad.image1}&id=link1', style='text-decoration: none')
                          img(src='/images/logo/trash.png', width=30)
                   else
                       p(onclick="delImage('photo1')")
                          img(src='/images/logo/trash.png', width=30)

                 td
                   if ad.image2
                      a.three(href='/ads/#{ad._id}/imgdel?img=#{ad.image2}&id=link2', style='text-decoration: none')
                          img(src='/images/logo/trash.png', width=30)
                   else
                      p(onclick="delImage('photo2')")
                          img(src='/images/logo/trash.png', width=30)

          button(type='submit') Save

  script(type='text/javascript').
      var delImage = function (name) {
          document.getElementById(name).getAttributeNode('src').value='/images/logo/camera.png';
          document.getElementsByName(name)[0].value='';
      } ;

  script(type='text/javascript').
      var openPhoto = function (event) {
          var input = event.target;
          var reader = new FileReader();
          reader.onload = function () {
              var dataURL = reader.result;
              var output = document.getElementById(input.name);
              output.src = dataURL;
          };
          reader.readAsDataURL(input.files[0]);
      };
  script(type='text/javascript', src='/javascripts/validator.min.js').
  script(type = 'text/javascript').
      function validateForm() {
        var category = document.forms['adForm']['category'].value;
        if (!validator.isMongoId(category)) {
            alert('You did not select the category');
            return false;
        }
      }
