extends ../layout

block content

    h1 Ad Info

    div
        p Name: #{ad.name}
        p E-mail: #{ad.email}
        p Telephone: #{ad.telephone}
        p Title: #{ad.title}
        p Description: #{ad.description}
        p Price: #{ad.price}
        p Photos:
        if ad.mainphoto !== undefined
            div.img
                img.show(src='/images/#{ad.mainphoto}')
        if ad.photo1 !== undefined
            div.img
                 img.show(src='/images/#{ad.photo1}')


    form(action='/ads/#{ad._id}/edit', method='post', enctype='application/x-www-form-urlencoded')
        input(type='hidden', value='DELETE', name='_method')
        button(type='submit') Delete
    p
    p
    a.two(href='/ads/#{ad._id}/edit' style='text-decoration: none') Edit

