extends ../layout

block content

 div.bravito
    h1 User information


    table
       tr
          td.r
            p.small #{i18n('name')}: &nbsp &nbsp
          td.l
            p #{user.name}

       tr
          td.r
            p.small Email: &nbsp &nbsp
          td.l
            p #{user.email}

       tr
          td.r
            p.small #{i18n('tel')}: &nbsp &nbsp
          td.l
            p #{user.telephone}

    h1 Item information


    table
        tr
          td.r
            p.small #{i18n('category')}: &nbsp &nbsp
          td.l
            p #{category.name[session.locale]}

        tr
          td.r
            p.small #{i18n('title')}: &nbsp &nbsp
          td.l
            p #{ad.title}

        tr
          td.r
            p.small #{i18n('description')}: &nbsp &nbsp
          td.l
            p #{ad.description}

        tr
          td.r
            p.small #{i18n('price')}: &nbsp &nbsp
          td.l
            p.info #{ad.price}

        tr
          td.r
            p.small #{i18n('photo')}: &nbsp &nbsp
    if ad.image1 !== undefined
        img.show(src='/images/#{ad.image1}')
    if ad.image2 !== undefined
        img.show(src='/images/#{ad.image2}')

    if session.user_id == user._id
        form(action='/ads/#{ad._id}/edit', method='post', enctype='application/x-www-form-urlencoded')
            input(type='hidden', value='DELETE', name='_method')
            button(type='submit') #{i18n('Del')}
        p
        form(action='/ads/#{ad._id}/edit')
            button(type='submit') #{i18n('edit')}



