extends ../layout

block content

 h1 Ad Info
 div
    table
      h2 User information
        tr
          td
            h5 Name:
          td
            p #{user.name}
        tr
          td
            h5 Email:
          td
            p #{user.email}
        tr
          td
            h5 Telephone:
          td
            p #{user.telephone}
    table
      h2 Item information
        tr
          td
            h5 Title:
          td
            p #{ad.title}
        tr
          td
            h5 Description:
          td
            p #{ad.description}
        tr
          td
            h5 Price:
          td
            p #{ad.price}
    h5 Photos:
    if ad.image1 !== undefined
        img.show(src='/images/#{ad.image1}')
    if ad.image2 !== undefined
        img.show(src='/images/#{ad.image2}')

    if session.user_id == user._id
        form(action='/ads/#{ad._id}/edit', method='post', enctype='application/x-www-form-urlencoded')
            input(type='hidden', value='DELETE', name='_method')
            button(type='submit') Delete
        p
        form(action='/ads/#{ad._id}/edit')
            button(type='submit') Edit



