extends ../layout

block content

 div.bravito
    h1 User information


    table
       tr
          td.r
            p.small Name: &nbsp &nbsp
          td.l
            p #{user.name}

       tr
          td.r
            p.small Email: &nbsp &nbsp
          td.l
            p #{user.email}

       tr
          td.r
            p.small Telephone: &nbsp &nbsp
          td.l
            p #{user.telephone}

    h1 Item information


    table
        tr
          td.r
            p.small Category: &nbsp &nbsp
          td.l
            p #{category.name}

        tr
          td.r
            p.small Title: &nbsp &nbsp
          td.l
            p #{ad.title}

        tr
          td.r
            p.small Description: &nbsp &nbsp
          td.l
            p #{ad.description}

        tr
          td.r
            p.small Price: &nbsp &nbsp
          td.l
            p.info #{ad.price}

        tr
          td.r
            p.small Photos: &nbsp &nbsp
    if ad.image1 !== undefined
        img.show(src='/images/#{ad.image1}')
    if ad.image2 !== undefined
        img.show(src='/images/#{ad.image2}')

    if session.user_id == user._id
        form(action='/ads/#{ad._id}/edit', method='post', enctype='application/x-www-form-urlencoded')
            input(type='hidden', value='DELETE', name='_method')
            button(type='submit') Delete
        p
        form(action='/ads/#{ad._id}/edit')
            button(type='submit') Edit



