extends ../layout

block content

 div.bravito
    h1 User information


    table
       tr
          td
            p.small Name: &nbsp &nbsp
          td
            p.info #{user.name}


       tr
          td
            p.small Email: &nbsp &nbsp
          td
            p.info #{user.email}


       tr
          td
            p.small Telephone: &nbsp &nbsp

          td
            p.info #{user.telephone}

    h1 Item information
    table
        tr
          td
            p.small Category:
          td
            p #{category.name}
        tr
          br
          td

            p.small Title:
          td

            p #{ad.title}
        tr
          td
            p.small Description:
          td
            p #{ad.description}
        tr
          td
            p.small Price:
          td
            p.info #{ad.price}
    p.small Photos:
    if ad.image1 !== undefined
        img.show(src='/images/#{ad.image1}')
    if ad.image2 !== undefined
        img.show(src='/images/#{ad.image2}')

    if session.user_id == user._id
        form(action='/ads/#{ad._id}/edit', method='post', enctype='application/x-www-form-urlencoded')
            input(type='hidden', value='DELETE', name='_method')
            button(type='submit') Delete
        p
        form(action='/ads/#{ad._id}/edit')
            button(type='submit') Edit



