extends ../layout

block content

    div.bravito

        if ad.reason && session.user_id == user._id
            div.msg #{ad.reason}

        h1 #{ad.title}
        hr
        p.small.fl #{i18n('created')} #{date.time} #{i18n(date.unit)} #{i18n('ago')}
        p.fr #{category.name[session.locale]}
        br


        if ad.images
            div.image
                span.helper
                img.show(src='/images/big/#{image}')

            if ad.images.length > 1
                div.thumbnail.no-print
                    each image in ad.images
                        a(href='/ads/#{ad._id}?image=#{image.src}')
                            img.showAds(src='/images/small/#{image.src}')

        p #{ad.description}
        br
        table
            td.r
                p.small #{i18n('price')}
            td.info.inl
                p.med  #{ad.price} #{i18n('rub')}

        hr
        table
            td.r
                p.small #{i18n('seller')}
            if user.name
                td.info
                    p.med #{user.name}
            if user.telephone
                td.info
                    p.med #{user.telephone}
            td.info
                p.med #{user.email}

        if message.length > 0
             div.msg #{message}

        if session.user_id == user._id
            hr
            table
                tr
                  td
                    form(action='/ads/#{ad._id}/edit')
                        button.fl.signup(type='submit') #{i18n('edit')}
                  td
                    a.greenButton.fl(onclick="showWindow()") #{i18n('Del')}

    div.alert
        span.bgAlert(onclick="closeWindow()")
        div.content
            div.categ
                p #{i18n('alertDel')}
            div(align='right')
                table
                    td
                        button.fr(onclick="closeWindow()") #{i18n('cancel')}
                    td
                      form(action='/ads/#{ad._id}', method='post', enctype='application/x-www-form-urlencoded')
                         input(type='hidden', value='DELETE', name='_method')
                         button.fr.login(type='submit') #{i18n('Del')}


    script.
        var showWindow = function() {
            document.getElementsByClassName('alert')[0].style.display = 'block';
        }
        var  closeWindow = function() {
            document.getElementsByClassName('alert')[0].style.display = 'none';
        }
