extends ../layout

block content

 if ad.reason && session.user_id == user._id
     div.msg #{ad.reason}

 div.bravito

    h1 #{i18n('userInfo')}
    hr
    br

    table
       tr
          td
            p.small #{i18n('name')}: &nbsp &nbsp
          td.info
            p #{user.name}
       tr
          td
            p.small Email: &nbsp &nbsp
          td.info
            p #{user.email}
       tr
          td
            p.small #{i18n('tel')}: &nbsp &nbsp
          td.info
            p #{user.telephone}


    h1 #{i18n('itemInfo')}
    hr
    br

    table
        tr
          td
            p.small #{i18n('category')}:
          td.info
            p  #{category.name[session.locale]}
        tr
          td
            p.small #{i18n('title')}:
          td.info
            p #{ad.title}
        tr
          td
            p.small #{i18n('description')}:
          td.info
            p   #{ad.description}
        tr
          td
            p.small #{i18n('price')}:
          td.info.inl
            p.info.med  #{ad.price} #{i18n('rub')}

        tr
          td
            p.small #{i18n('photo')}:

    if ad.image1 !== undefined
        img.show(src='/images/big/#{ad.image1}')
    if ad.image2 !== undefined
        img.show(src='/images/big/#{ad.image2}')


    if message.length > 0
         div.msg #{message}


    if session.user_id == user._id
        hr
        table
            tr
              td
                form(action='/ads/#{ad._id}/edit')
                    button.fl.signup(type='submit') #{i18n('edit')}
              td
                a.greenButton.fl(onclick="showWindow()") #{i18n('Del')}

 div.alert
     span.bgAlert(onclick="closeWindow()")
     div.content
         div.categ
             p #{i18n('alertDel')}
         div(align='right')
             table
               tr
                 td
                   form(action='/ads/#{ad._id}', method='post', enctype='application/x-www-form-urlencoded')
                      input(type='hidden', value='DELETE', name='_method')
                      button.fr.login(type='submit') #{i18n('Del')}
                 td
                   button.fr(onclick="closeWindow()") #{i18n('cancel')}



 script.
     var showWindow = function() {
         document.getElementsByClassName('alert')[0].style.display = 'block';
     }
     var  closeWindow = function() {
         document.getElementsByClassName('alert')[0].style.display = 'none';
     }
